@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  /* inherit border-box on all elements in the universe and before and after
   */
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-image: url(/images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.testimonial-slider {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    position: relative;
}

.slide {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
}

.slide-image {
    height: 100%;
    width: 100%;
    padding: 40px;
    margin: 0 auto;
    background-image: url(/images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.slide-image img {
    width: 100%;
}

.slide-text {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(/images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: top center;
}

.testimonial-text {
    font-weight: 300;
    font-size: .8rem;
    line-height: 1rem;
    color: hsl(240, 81%, 26%);
}

.author-text {
    margin-top: 20px;
    color: hsl(240, 81%, 26%);
    font-weight: 700;
}

.author-text span {
    font-size: .7rem;
    color: hsl(240, 18%, 77%);
    font-weight: 300;
    display: block;
}

.prev, .next {
    display: inline-block;
    width: 50%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

.prev:hover, 
.next:hover {
    background-color: antiquewhite;
}

.button {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 275px;
    width: 90px;
    height: 45px;
    box-shadow: -6px 5px 10px hsla(240, 18%, 77%, 0.52);
    border-radius: 50px;
    background-color: #fff;
    overflow: hidden;

}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.next::after,
.prev::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: auto;
}

.next::after {
    background-image: url(/images/icon-next.svg);
    background-repeat: no-repeat;
}

.prev::after {
    background-image: url(/images/icon-prev.svg);
    background-repeat: no-repeat;
}


.attribution {
    font-size: .7rem;
    text-align: center;
    font-weight: 500;
}

.attribution a {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
   .container {
    background-position: left bottom;
    background-size: 550px;
   }
    .slide {
        flex-direction: row;
        text-align: left;
    }

    .slide-text {
        background-position: 30% top;
        align-items: flex-start;
        margin: -0;
    }
    .testimonial-text {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5rem;
    }
    .author-text {
        margin-left: 35px;
    }

    .slide-image {
        background-size: 460px;
        margin-left: -200px;
        z-index: -1;
    }

    .slide-image img {
        margin: 50px;
        width: 350px;
    }
    .author-text span {
        display: inline;
    }
    .button {
        top: 415px;
        transform: translate(0);
        left: calc(100% - 400px);
        width: 90px;
    }
}